<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136090099192-4hqhqe3uu0utfaocb2pqds7erajrjb3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136090099192-4hqhqe3uu0utfaocb2pqds7erajrjb3i</string>
	<key>API_KEY</key>
	<string>AIzaSyB40jfAQBu9Oh14pafnnHeS4yYHuGPmdms</string>
	<key>GCM_SENDER_ID</key>
	<string>136090099192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.ChaChat</string>
	<key>PROJECT_ID</key>
	<string>chachat-abb60</string>
	<key>STORAGE_BUCKET</key>
	<string>chachat-abb60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136090099192:ios:90130baa120bc927114a0d</string>
</dict>
</plist>